<!DOCTYPE html>
<html>
<head>

</head>
<body>
<%- include('partials/_header') %>
<h2> ShortURL:<a href="<%= shortURL%>"><%= shortURL %></a></h2>
  <p><%= longURL.url %></p>
  <form method="POST" action="/urls/<%=shortURL%>">
    <input id="longURL" type="text" value="<%= longURL.url%>" name='longURL'>
    <button type="submit">Update</button>
  </form>
</body>
</html>
